.product{
    width: 100%;
    font-family: Euclid, sans-serif;
    padding: 0 0 30px 0;


    &__link{
        display: flex;
        flex-direction: column;
    }

    &__main-info{
        margin-bottom: 10px;
        height: 40px;
    }

    &__image-container{
        position: relative;
    }
    
    &__image{
        width: 100%;
    }

    &__description{
        display: flex;
        justify-content: space-between;
        color: darkslategray;  
        padding: 10px;  
        gap: 20px;
    }

    &__icon {
        position: absolute;
        top: 10px;
        right: 10px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.5);
        cursor: pointer;
        width: 32px;
        height: 32px;
    }

    &__icon-img{
        position: absolute;
        top: 5px;
        right: 6px;
    }

    &__price{
        font-weight: 700;
    }

}

.favorite{
    
    &__link{
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 1px solid #ccc;
        padding: 10px 0;
        gap: 40px;
    }

    &__image {
        width: 200px;
        height: auto;
    }

    &__description {

        gap: 250px;
    }

        &__info {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
}






